<div class="row">
  <%= form_for List.new, remote: true do |f| %>
    <div class="input-group">
      <%= f.text_field :name, class: 'form-control' %>
      <span class="input-group-btn">
        <%= f.submit 'New List', class: 'btn btn-default' %>
      </span>
    </div>
  <% end %>
</div>
