<div class="container">
  <div class="row">
    <div class="col-sm-offset-4 col-sm-4">
      <h3><%= @list.name %></h3>
      <%= render partial: 'items/form', locals: { list: @list } %>
      <ul class="list-group" id="items">
        <%= render(@list.items) || 'No TODO item added.' %>
      </ul>
    </div>
  </div>
</div>
