<div class="container">
  <div class="row">
    <div class="col-sm-offset-4 col-sm-4">
      <h3><%= @list.name %></h3>

      <ul id="check-list-box" class="list-group">
      <% @list.items.each do |item| %>
        <li class="list-group-item">
          <span class="glyphicon glyphicon-unchecked"></span>
          <%= item.name %> <br/>
          <small>created <%= time_ago_in_words(item.created_at) %> ago</small>
        </li>
      <% end %>
      </ul>
    </div>
  </div>
</div>
