<li class="list-group-item" id="item-<%= item.id %>">
  <%= link_to [@list, item], method: :patch, remote: true do %>
     <span class="item glyphicon glyphicon-unchecked"></span>
  <% end %>
  <%= item.name %> <br>
  <small><%= pluralize(item.days_left, 'day') %> left</small>
</li>
